<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Form</title>
</head>

<body>
    <form action="/students" method="post" enctype="multipart/form-data">
        <label>Mã Sinh viên:<input name="maSinhVien" type="text" /></label><br/>
        <label>Tên:<input name="tenSinhVien" type="text" /></label><br/>
        <label>Ngày sinh:<input name="ngaySinh" type="date" /></label><br/>
        <label>Select your profile picture:</label>
        <input type="file" name="avatar" />
        <br/>
        <input type="submit" value="SAVE" />
        <input type="reset" value="RESET" />
    </form>
    <input type="button" onclick="location.href='/students'" value="Back" />
</body>

</html>