<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Form</title>
</head>

<body>
    <form action="/product" method="post">
        <label>Mã sản phẩm:<input name="maSanPham" type="text" /></label><br />
        <label>Tên:<input name="tenSanPham" type="text" /></label><br />
        <label>Số lượng<input name="soLuong" type="text" /></label><br />
        <br />
        <input type="submit" value="LƯU" />
        <input type="reset" value="RESET" />
    </form>
    <input type="button" onclick="location.href='/'" value="Back" />
</body>

</html>